/* roboto-condensed-regular - latin */

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-condensed-v16-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('./fonts/roboto-condensed-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/roboto-condensed-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/roboto-condensed-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('./fonts/roboto-condensed-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/roboto-condensed-v16-latin-regular.svg#RobotoCondensed') format('svg');
  /* Legacy iOS */
}

/* roboto-condensed-700 - latin */

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/roboto-condensed-v16-latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url('./fonts/roboto-condensed-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/roboto-condensed-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/roboto-condensed-v16-latin-700.woff') format('woff'), /* Modern Browsers */
  url('./fonts/roboto-condensed-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/roboto-condensed-v16-latin-700.svg#RobotoCondensed') format('svg');
  /* Legacy iOS */
}

html, body, .root {
  height: 100%;
}

body {
  font-family: 'Roboto Condensed' !important;
  line-height: 1.5;
}

body, .app {
  background: white;
}

/* main page */

.list-unicorns-title {
  background: rgb(95, 9, 112);
  text-align: center;
  text-transform: uppercase;
}

.list-unicorns-title h1 {
  font-weight: 700;
  margin: 0;
  color: white;
}

.list-unicorns-content {
  padding: 0 0 80px;
  flex: 1;
}

.unicorn-location {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .unicorn-location {
    padding: 0 20px 40px;
  }
}

.unicorn-location-title {
  border-bottom: 1px solid #dedede;
  text-align: center;
  color: rgb(95, 9, 112);
}

.unicorn-location-unicorns {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(95, 9, 112);
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
}

/* search page */

.search-unicorns-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.search-unicorns-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-unicorns-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-unicorns-results {
  padding: 80px 10px 20px;
}

/* unicorns grid */

.unicorns-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.unicorns-grid li {
  padding: 10px 15px;
  text-align: left;
}

.unicorn {
  width: 100%;
}

.unicorn-title, .unicorn-visitor {
  font-size: 0.8em;
}

.unicorn-title {
  margin-top: 10px;
}

.unicorn-visitor {
  color: rgb(95, 9, 112);
}

.unicorn-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.unicorn-location-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(95, 9, 112);
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.unicorn-location-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* unicorn cover */

.unicorn-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
  border-radius: 4px;
}

.unicorn-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

/* Style 404 page */

.container-not-found {
  color: rgb(95, 9, 112);
  margin: 10px auto;
  max-width: 600px;
  text-align: center;
}

.container-not-found h1 {
  margin: 30px 0;
  font-size: 4em;
  line-height: 1;
  letter-spacing: -1px;
}

.container-not-found a {
  font-weight: 700;
}
.footer-content, .header-content{
  list-style: none;
  background-color: rgb(95, 9, 112);
  text-align: right;
  li {
    display: inline-block;
    padding: 10px;
    a {
      color: #ffffff;
    }
  }
}
.list-unicorns-title{
  display: grid;
  grid-template-columns: 1fr 1fr;
  h1 {
    padding: 10px;
  }
}
